#alimentador{
  background-color: orange;
  border-style: solid;
  padding-bottom: 10px;
}

#navbar a{
  color: orange;
}

#navbar a:hover{
  color: orange;
  background-color: gray;
}

#LogIn a{
  border-radius: 0px;
  color: black;
}

#LogIn a:hover{
  border-radius: 0px;
  color: white;
}

#usuarioform{
  text-align: center;
}

#detalles-alimentador{
  background-color: #9F7700;
}

.jumbotron {
    background-color: #252525;
    color: white
}

.container, .container-fluid{
  color: white;
}

h2, h3 {
  color: white;
}

table, td, th {
  border: 1px solid black;
  background-color: #626262;
}

table td{
  color: white;
}

table td a:link, a:visited{
  color: white;
}

footer a:link {
  color: green;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: red;
  text-decoration: none;
}

footer a:active {
  text-decoration: underline;
  color: red;
  border-style: hidden;
}

footer {
  background-color: #4E4E4E;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

body {
  background-color: #474747;
  font-family: 'Cambay';
}
