{% extends 'mis_cosas_app/base.html' %}
  {% block contenido %}
    <form method = "POST" action="/" id="alimentador">
      {% csrf_token %}
      <label for="identificador">Youtube </label><br>
      <input type="text" name="id" placeholder="Identificador">
      <input type="submit" name="accion" value="Obtener videos" class="btn btn-outline-dark">
    </form>

    <form method = "POST" action="/" id="alimentador">
      {% csrf_token %}
      <label for="identificador">Flickr </label><br>
      <input type="text" name="id" placeholder="Identificador">
      <input type="submit" name="accion" value="Obtener fotos" class="btn btn-outline-dark">
    </form>

    <div class="container">
      <br>
      <h2>Alimentadores seleccionados</h2>
      <table class="table table-hover table-secondary">
        <thead>
          <tr>
            <th>Alimentador</th>
            <th>Enlace</th>
            <th>Items disponibles</th>
            <th>Puntuación</th>
            <th>Seleccionar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for alimentador in alimentadores %}
          <tr>
            <td><a href="/alimentadores/{{ alimentador.id_canal }}">{{ alimentador.nombre }}</a></td>
            <td><a href="{{ alimentador.enlace }}"> {{ alimentador.enlace }} </a></td>
            <td> {{ alimentador.item_set.count }} </td>
            <td>Adios</td>
            <td>
              <form method = "POST" action="/">
                {% csrf_token %}
                <input type = "hidden" name = "id_alimentador" value = "{{ alimentador.id_canal }}">
                <input type="submit" name = "accion" value="Seleccionar" class="btn btn-outline-dark">
              </form>
            </td>
            <td>
              <form method = "POST" action="/">
                {% csrf_token %}
                <input type = "hidden" name = "id_alimentador" value = "{{ alimentador.id_canal }}">
                <input type="submit" name = "accion" value="Eliminar" class="btn btn-outline-dark">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endblock %}
