{% extends 'mis_cosas_app/base.html' %}
  {% block contenido %}
    <form method = "POST" action="/" id="alimentador">
      {% csrf_token %}
      <label for="identificador">Youtube </label><br>
      <input type="text" name="id" placeholder="Identificador">
      <input type="submit" name="accion" value="Obtener videos" class="btn btn-outline-dark">
    </form>

    <form method = "POST" action="/" id="alimentador">
      {% csrf_token %}
      <label for="identificador">Flickr </label><br>
      <input type="text" name="id" placeholder="Identificador">
      <input type="submit" name="accion" value="Obtener fotos" class="btn btn-outline-dark">
    </form>

    <div class="container">
      <br>
      <h2>Top 10 ítems más votados</h2>
      <table class="table table-hover table-secondary">
        <thead>
          <tr>
            <th>Título</th>
            <th>Enlace</th>
            <th>Votos totales</th>
            <th>Votos positivos</th>
            <th>Votos negativos</th>
            {% if user.is_authenticated %}
              <th>Votar positivo</th>
              <th>Votar negativo</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in items_votados %}
          <tr>
            <td><a href="/item/{{ item.id }}">{{ item.nombre }}</a></td>
            <td><a href="{{ item.enlace }}"> {{ item.enlace }} </a></td>
            <td> {{ item.votos }} </td>
            <td>{{ item.votos_positivos }}</td>
            <td>{{ item.votos_negativos }}</td>
            {% if user.is_authenticated %}
              <form method = "POST" action="/item/{{ item.id }}">
                {% csrf_token %}
                <input type = "hidden" name = "item" value = "{{ item.id }}">
                {% if not item.voto_positivo and not item.voto_negativo %}
                  <td><input type="submit" name = "accion" value="Like" class="btn btn-outline-success"></td>
                  <td><input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger"></td>
                {% elif item.voto_positivo and not item.voto_negativo %}
                  <td><input type="submit" name = "accion" value="Like" class="btn btn-success"></td>
                  <td><input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger"></td>
                {% elif item.votos_positivo and item.votos_negativo %}
                  <td><input type="submit" name = "accion" value="Like" class="btn btn-outline-success"></td>
                  <td><input type="submit" name = "accion" value="Dislike" class="btn btn-danger"></td>
                {% endif %}
              </form>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="container">
      <br>
      <h2>Alimentadores seleccionados</h2>
      <table class="table table-hover table-secondary">
        <thead>
          <tr>
            <th>Alimentador</th>
            <th>Enlace</th>
            <th>Items disponibles</th>
            <th>Puntuación</th>
            <th>Seleccionar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for alimentador in alimentadores %}
          <tr>
            <td><a href="/alimentadores/{{ alimentador.id_canal }}">{{ alimentador.nombre }}</a></td>
            <td><a href="{{ alimentador.enlace }}"> {{ alimentador.enlace }} </a></td>
            <td> {{ alimentador.item_set.count }} </td>
            <td> {{ alimentador.votos }} </td>
            <td>
              <form method = "POST" action="/">
                {% csrf_token %}
                <input type = "hidden" name = "id_alimentador" value = "{{ alimentador.id_canal }}">
                <input type="submit" name = "accion" value="Seleccionar" class="btn btn-outline-dark">
              </form>
            </td>
            <td>
              <form method = "POST" action="/">
                {% csrf_token %}
                <input type = "hidden" name = "id_alimentador" value = "{{ alimentador.id_canal }}">
                <input type="submit" name = "accion" value="Eliminar" class="btn btn-outline-dark">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if user.is_authenticated %}
    <div class="container">
      <h2> 5 últimos ítems votados por el usuario </h2>
      <table class="table table-hover table-secondary">
        <thead>
          <tr>
            <th>Título</th>
            <th>Enlace</th>
            <th>Voto positivo</th>
            <th>Voto negativo</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items_votados_usuario %}
          <tr>
            <td><a href="/item/{{ item.item.id }}"> {{ item.item.nombre }} </a></td>
            <td><a href="{{ item.item.enlace }}"> {{ item.item.enlace }} </a></td>
            {% if user.is_authenticated %}
              <form method = "POST" action="/item/{{ item.item.id }}">
                {% csrf_token %}
                <input type = "hidden" name = "item" value = "{{ item.id }}">
                {% if not item.voto_positivo and not item.voto_negativo %}
                  <td><input type="submit" name = "accion" value="Like" class="btn btn-outline-success"></td>
                  <td><input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger"></td>
                {% elif item.voto_positivo and not item.voto_negativo %}
                  <td><input type="submit" name = "accion" value="Like" class="btn btn-success"></td>
                  <td><input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger"></td>
                {% elif not item.voto_positivo and item.voto_negativo%}
                  <td><input type="submit" name = "accion" value="Like" class="btn btn-outline-success"></td>
                  <td><input type="submit" name = "accion" value="Dislike" class="btn btn-danger"></td>
                {% endif %}
              </form>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <div class="container">
      <form method = "GET" action="/">
        Obtener página principal como formato XML
        <input type="submit" name="formato" value="XML" class="btn btn-outline-dark">
      </form>

      <form method = "GET" action="/">
        Obtener página principal como formato JSON
        <input type="submit" name="formato" value="JSON" class="btn btn-outline-dark">
      </form>
    </div>
  {% endblock %}
