{% extends 'mis_cosas_app/base.html' %}
  {% block contenido %}
  <style>
    footer {
      background-color: #4E4E4E;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      position: fixed;
    }
  </style>

    <br>
    <h2 style="text-align: center;"> Información </h2><br>
    <div class="container">
      <p>Esta página ha sido realizada por Iván Maroto Díaz como práctica final
          de la asignatura Servicios y Aplicaciones en Redes de Ordenadores de la
          URJC.</p>

        <p> En esta página podrás administrar tus contenidos favoritos de las
          aplicaciones Youtube y Flickr. Sólo tienes que introducir el identificador
          de un canal de Youtube o una etiqueta de Flickr y obtendrás una lista de
          los últimos ítems disponibles.</p>

        <p> Si quieres disfrutar de todas las posibilidades que ofrece la página,
          sólo tienes que crearte una cuenta. Con una cuenta de usuario podrás votar
          cada ítem y comentarlo para poder compartir tu opinión con más personas,
          además de poder visualizar la página en modo oscuro. </p>


      </div>
  {% endblock %}
