{% extends 'mis_cosas_app/base.html' %}
  {% block contenido %}
  <div class="jumbotron">
    <h2 style="text-align: center;"> {{ item.nombre }} </h2>
    {% if item.alimentador.tipo == "Youtube" %}
      <p style="text-align: center;">Este video pertenece al canal {{ item.alimentador.nombre }}.
      <a href="{{ item.enlace }}" target="_blank"> Enlace al video </a></p>
    {% elif item.alimentador.tipo == "Flickr" %}
      <p style="text-align: center;">Esta imagen pertenece a la etiqueta {{ item.alimentador.nombre }}.
      <a href="{{ item.enlace }}" target="_blank"> Enlace a la imagen </a></p>
      <p style="text-align: center;"><a href="{{ item.enlace }}" target="_blank"> Enlace a la página de la etiqueta </a></p>
    {% endif %}

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {% if item.alimentador.tipo == "Youtube" %}
          <iframe width="854" height="480" src = "https://www.youtube.es/embed/{{ item.id }}" allowfullscreen></iframe>
        {% elif item.alimentador.tipo == "Flickr" %}
          <img src="{{ item.foto }}">
        {% endif %}
        {% if user.is_authenticated %}
          <div>
            <h4>Puntuación</h4>
            <form method = "POST" action="/item/{{ item.id }}">
              {% csrf_token %}
              <input type = "hidden" name = "item" value = "{{ item.id }}">
              {% if not voto.voto_positivo and not voto.voto_negativo %}
                <input type="submit" name = "accion" value="Like" class="btn btn-outline-success">
                <input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger">
              {% elif voto.voto_positivo and not voto.voto_negativo %}
                <input type="submit" name = "accion" value="Like" class="btn btn-success">
                <input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger">
              {% elif not voto.voto_positivo and voto.voto_negativo%}
                <input type="submit" name = "accion" value="Like" class="btn btn-outline-success">
                <input type="submit" name = "accion" value="Dislike" class="btn btn-danger">
              {% endif %}
            </form>
          </div>
        {% endif %}
      </div>
      {% if item.alimentador.tipo == "Youtube" %}
        <div class="col">
          <h3> Descripción </h3><br>
          <p> {{ item.descripcion }} </p>
        </div>
      {% endif %}
    </div>
    <br>
  </div>
  <div class="container-fluid bg-warning">
    <br>
    <h2> Alimentador</h2>
    <div class="row">
      <div class="col">Canal: <a href="/alimentadores/{{ item.alimentador.id_canal }}" class="text-dark">{{ item.alimentador.nombre }}</a> </div>
      <div class="col">Enlace: <a href="{{ item.alimentador.enlace }}" class="text-dark">{{ item.alimentador.enlace }} </a></div>
      <div class="col"> Número de items disponible: {{ item.alimentador.item_set.count }} </div>
      <div class="col"> Número de votos:  </div>
    </div>
    <br>
  </div>
  <div class="container-fluid">
    <br>
    <h2> Comentarios </h2>
    {% if not item.comentario_set.all %}
      <p> Aún no hay comentarios. Para escribir un comentario <a href="/login"> inicie sesión.</a></p>
    {% else %}
      {% for comentario in item.comentario_set.all %}
        <h4>{{ comentario.usuario.username }}</h4>
        {{ comentario.comentario }}
        <br>
      {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      {{ comentario.as_p }}
      <input type="submit" name = "accion" value="Comentar" class="btn btn-dark">
    </form>
    {% endif %}
  </div>
  <br>

  {% endblock %}
