{% extends 'mis_cosas_app/base.html' %}
  {% block contenido %}
  <div class="jumbotron">
    <h2 style="text-align: center;"> {{ item.nombre }} </h2>
    <p style="text-align: center;">Este video pertenece al canal {{ item.alimentador.nombre }}.
    <a href="{{ item.alimentador.enlace }}" target="_blank"> Enlace al canal </a></p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <iframe width="400" height="225" src = "https://www.youtube.es/embed/{{ item.id }}" allowfullscreen></iframe>
        {% if user.is_authenticated %}
          <div>
            <h4>Puntuación</h4>
            <form method = "POST" action="/item/{{ item.id }}">
              {% csrf_token %}
              <input type = "hidden" name = "item" value = "{{ item.id }}">
              {% if not voto.voto_positivo and not voto.voto_negativo %}
                <input type="submit" name = "accion" value="Like" class="btn btn-outline-success">
                <input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger">
              {% elif voto.voto_positivo and not voto.voto_negativo %}
                <input type="submit" name = "accion" value="Like" class="btn btn-success">
                <input type="submit" name = "accion" value="Dislike" class="btn btn-outline-danger">
              {% elif not voto.voto_positivo and voto.voto_negativo%}
                <input type="submit" name = "accion" value="Like" class="btn btn-outline-success">
                <input type="submit" name = "accion" value="Dislike" class="btn btn-danger">
              {% endif %}
            </form>
          </div>
        {% endif %}
      </div>
      <div class="col">
        <h3> Descripción </h3><br>
        <p> {{ item.descripcion }} </p>
      </div>
    </div>
    <br>
  </div>
  <div class="container-fluid bg-warning">
    <br>
    <h2> Alimentador</h2>
    <div class="row">
      <div class="col">Canal: <a href="/alimentadores/{{ item.alimentador.id_canal }}" class="text-dark">{{ item.alimentador.nombre }}</a> </div>
      <div class="col">Enlace: <a href="{{ item.alimentador.enlace }}" class="text-dark">{{ item.alimentador.enlace }} </a></div>
      <div class="col"> Número de items disponible: {{ item.alimentador.item_set.count }} </div>
      <div class="col"> Número de votos:  </div>
    </div>
    <br>
  </div>
  <div class="container-fluid">
    <br>
    <h2> Comentarios </h2>

  </div>
  <br>

  {% endblock %}
